@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
